<article class="project code" data-project="dreamcatcher" data-type="code">
  <section class="project-cover">
    <div class="u-verticalAlign">
    	<h4 class="project-type">Code</h4>
      <div class="line line-horizontal"></div>
      <h1 class="project-title">Dreamcatcher</h1>
      <h2 class="project-subtitle">Mastering WordPress</h2>
      <p>
        Dreamcatcher is a school project made in October 2013. I was the lead Front-end Developer. The goal was simply to create a website that lived on the users contributions. We created multiple post types and even allowed the users to post dreams via phone call.
      </p>
     

    </div>
    <a href="http://anthonyroux.com/dreamcatcher/" target="_blank" class="project-preview">
      <!-- <div class="project-link" href=""><div><span class="u-verticalAlign">Visit the website</span></div></div> -->
      <img src="images/dreamcatcher/dreamcatcher--preview.png" />
    </a>
  </section>
</article>