 <article class="project" data-project="game-of-thrones">
  <section class="project-cover">
    <div class="u-verticalAlign">
    	<h4 class="project-type">Product design</h4>
      <div class="line line-horizontal"></div>
      <h1 class="project-title">Game of Thrones</h1>
      <h2 class="project-subtitle">Enhancing the video experience</h2>
      
    </div>
    <div class="u-bottomAlign scroll">
      <div class="line"></div>
      <p>scroll</p>
    </div>
  </section>
  <section class="project-content">
  	<div class="wrapper wrapper-text">
      <p>
        For this school project, our only constraints were to use JavaScript and 3 APIs. It was made in November 2013 and I was Product Designer as well as the lead Front-end Developer.</p>
      <p>
        We built a video player designed to enhance the viewing experience with social interactions and additional contents, all in sync with the episode. We chose to focus on the Game of Thrones series for its well known virality, its rollercoaster of emotions and its numerous characters and places.

      </p>
    </div>
  	
    <h2 class="title title-framed">
      <span>Concept</span>
      Client and viewers both winning</h2>

    <div class="wrapper wrapper-text">
      <p>There is two aspects we had to think about: enriching the experience for the viewer and allowing the company producing the show to get something out of it (obviously, data and visibility). For these reasons, we needed our user to get social.</p>

      <h3 class="title title-simple">Gamification to encourage the user to connect</h3>

      <p>To incite the user to connect and share his social data, we created a simple reward system : the user earns different badges whenever he does something social. This system is introduced before the airing of the episode, that way people are aware of the existence of the website before the show begins, they can get ready and excited.</p>
    </div> 
    <div class="slider slider-shadow">
      <div class="slider-wrapper">
        <ul class="slider-images">
          <li>
            <img width="1110" height="694" src="images/game-of-thrones/game-of-thrones--gamification--1.jpg" alt="">
            <p class="caption">Yo</p>
          </li>
          <li class="active">
            <img width="1110" height="694" src="images/game-of-thrones/game-of-thrones--gamification--2.jpg" alt="">
            <p class="caption">The waiting screen</p>
          </li>
          <li>
            <img width="1110" height="694" src="images/game-of-thrones/game-of-thrones--gamification--3.jpg" alt="">
            <p class="caption">Yo</p>
          </li>
        </ul>
        
      </div>
      <nav class="slider-navigation">
        <ul>
          <li><span></span></li>
          <li class="active"><span></span></li>
          <li><span></span></li>
        </ul>
      </nav>
    
    </div> 
   
    <div class="wrapper wrapper-text">
      <h3 class="title title-simple">Getting social but not spoiled</h3>
      <p>Our product makes no sense if we are keeping our user from getting surprised by the TV show (especially with one like Game of Thrones). We were very careful of that when implementing our features. The tweets that we are sourcing are all tagged with the time they were posted at (ex:  “#8min”), they appear bit by bit in sync with the progress of the episode.</p>
    </div>
    <div class="line line-vertical-horizontal"></div>
    <h2 class="title title-framed">
      <span>Functionalities</span>
      Adding content while keeping our user focused</h2>
    <div class="wrapper wrapper-text">
      <p>We decided we would create two types of timeline : the tweets one, so that the user can react whenever he wants and know what other people are thinking about the show, and the cards one. That is where we keep all of the additional content. At first we were thinking of adding notifications on the screen, but we then thought it would be too intrusive.</p>
      <h3 class="title title-simple">The cards</h3>
      <p class="no-margin">They are multiple type of cards: </p>
      <ul>
        <li>
          The ones that encourage the user to share: the reaction card (we ask the user how he feels about the moment and publish it on Facebook), the gif card (inciting the user to share on Tumblr)
        </li>
        <li>
          The ones that incite the user to buy: the goods card (buy a product from the show), the music card (telling the user what song it is and where to but it)

        </li>
        <li>
          The knowlegeable ones:  the counter card (informing the user of a fun counting thing, height of a wall, number of deaths in one scene), the quotes one (interview from the actors, etc) and the did-you-know? ones.
        </li>
      </ul>
    </div>
    
    <div class="wrapper wrapper-text">

      <h3 class="title title-simple">The progress bar</h3>
      <p>The progress bar serves as a reminder to the cards. There is a mark for each one of them and it navigates to the moment and through the timeline if you click one..</p>
    </div>
    <div class="wrapper wrapper-image">
      <img width="974" height="163" src="images/game-of-thrones/game-of-thrones--progress-bar.png" alt="" />
    </div>
    <div class="wrapper wrapper-text">
      <h3 class="title title-simple">The browser</h3>
      <p>We didn’t want for the user to leave the player whenever a new content is display on the timeline, that’s why we created a little browser, that will open whenever the user clicks one a card. The game of throne theme music starts (if it’s not a video), to keep you in the atmosphere of the show.</p>
    </div>
   
  
    <div class="line line-vertical-horizontal"></div>

    <h2 class="title title-framed">
      <span>Future outlook</span>
      Next steps</h2>
    <div class="wrapper wrapper-text">
      <p>This is of course only a prototype, realized in a school timeframe, with educational constraints in mind.</p>
      
     
      <div class="line line-vertical-horizontal"></div>
     
    </div>

    <h2 class="title title-centered">Thank you for scrolling!</h2>
    <a class="project-link" href=""><div><span class="u-verticalAlign">Visit the website</span></div></a>
  </section>
</article>