<article class="project code" data-project="jperriere-2014" data-type="code">
  <section class="project-cover">
    <div class="u-verticalAlign">
    	<h4 class="project-type">Code</h4>
      <div class="line line-horizontal"></div>
      <h1 class="project-title">Julien Perrière '14</h1>
      <h2 class="project-subtitle">Trying out Backbone.JS</h2>
      <p>
        Julien asked me in March of last year to develop his portfolio. Since he was not concern with compatibility, I decided to get rid of jQuery and tryout Backbone.js coupled with Require.js.
      </p>
     

    </div>
    <a href="http://julienperriere.com/2014/" target="_blank" class="project-preview">
      <!-- <div class="project-link" href=""><div><span class="u-verticalAlign">Visit the website</span></div></div> -->
      <img src="images/jperriere-2014/jperriere-2014--preview.png" />
    </a>
  </section>
</article>