/* @group Fonts */
@font-face {
	font-family: 'sofia-pro';
	src: url('../fonts/sofia-pro--regular.otf');
	font-weight: normal;
	font-style: normal; }
@font-face {
	font-family: 'sofia-pro';
	src: url('../fonts/sofia-pro--light.otf');
	font-weight: 300;
	font-style: normal; }

@font-face {
	font-family: 'sofia-pro';
	src: url('../fonts/sofia-pro--semi-bold.otf');
	font-weight: 700;
	font-style: normal; }

@font-face {
	font-family: 'sofia-pro';
	src: url('../fonts/sofia-pro--bold.otf');
	font-weight: 900;
	font-style: normal; }

@charset "UTF-8";

/* @end of Fonts */