/* @group Variables */
$base-font-family: "kepler-std", Georgia, serif;
$secondary-font-family: 'sofia-pro', Helvetica, Arial, sans-serif;

$base-font-size: 22px;
$base-line-height: 30px;

$color--homepage: #d1b1e3;
$color--about: #e11763; //#525ba8; // #EC7FA6;
$color--mediadata: #2781bb;
$color--mediadata2: rgba(39, 129, 187, 0.5);
$color--game-of-thrones: #d04648;
$color--game-of-thrones2: rgba(208, 70, 72, 0.5);
/* @end of Variables */