<article class="homepage">

  <ul class="projects-list">
    <li>
      <a href="mediadata" data-project="mediadata" class="project product-design">
        <div class="u-verticalAlign">
          <h4 class="project-type">Product design</h4>
          <div class="line-vertical"></div>
          <h2 class="project-title">Mediadata</h2>
          <h3 class="project-subtitle">Making sense of data</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="jperriere-2014" data-project="jperriere-2014" class="project code">
        <div class="u-verticalAlign">
          <h4 class="project-type">Code</h4>
          <div class="line-vertical"></div>
          <h2 class="project-title">Julien Perrière '14</h2>
          <h3 class="project-subtitle">Trying out Backbone.js</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="game-of-thrones" data-project="game-of-thrones" class="project product-design">
        <div class="u-verticalAlign">
          <h4 class="project-type">Product design</h4>
          <div class="line-vertical"></div>
          <h2 class="project-title">Game of Thrones</h2>
          <h3 class="project-subtitle">Enhancing the TV experience</h3>
          
        </div>
      </a>
    </li>
    <li>
      <a href="mumories" data-project="mumories" class="project product-design">
        <div class="u-verticalAlign">
          
          <h4 class="project-type">Product design</h4>
          <div class="line-vertical"></div>
          <h2 class="project-title">Mumories</h2>
          <h3 class="project-subtitle">Making sense of data</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="dreamcatcher" data-project="dreamcatcher" class="project code">
        <div class="u-verticalAlign">
          
          <h4 class="project-type">Code</h4>
          <div class="line-vertical"></div>
          <h2 class="project-title">Dreamcatcher</h2>
          <h3 class="project-subtitle">Making sense of data</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="disney" data-project="disney" class="project product-design">
        <div class="u-verticalAlign">
          
          <h4 class="project-type">Product design</h4>
          <div class="line-vertical"></div>
          <h2 class="project-title">Disney</h2>
          <h3 class="project-subtitle">Making sense of data</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="jperriere-2013" data-project="jperriere-2013" class="project code">
        <div class="u-verticalAlign">
          <h4 class="project-type">Code</h4>
          <div class="line-vertical"></div>
          <h2 class="project-title">Julien Perrière '13</h2>
          <h3 class="project-subtitle">Making sense of data</h3>
          
        </div>
      </a>
    </li>
  </ul>
</article>